<h1> Welcome to Awesome Answers From the "index.html.erb"</h1>

<!--  Might not work in production and woundn't use the pipe line. -->
<!-- <img src="garabaldiparl.jpg"> -->
<%=  image_tag "garabaldipark.jpg" %>
